@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lilas: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login>div#imagem {
    background: #5f2c82 url(../image/metal.jpg) no-repeat center center;
    height: 200px;
    background-size: cover;
    display: block;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

section#login>div#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login>div#formulario>p{
    font-size: 0.8em;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
}

form > input[type=submit]:hover {
    background-color: #26504e;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    color: #26504e;
    text-decoration: none;
    padding-top: 7px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #65dbd7;
}

div.campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 1px solid #5f2c82;
}

form label{
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    border: none;
}

div.campo > input {
    background-color: #65dbd7;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    border: 1px solid #5f2c82;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}
